#!/usr/bin/env python
import os


def update_dns():
    pass


def download_certs():
    domains = filter(None, "{% for domain in domains %}{{ domain }},{% endfor %}".split(','))
    email = "{{ email }}"
    root = "{{ webroot }}"
    for domain in domains:
        command = 'certbot certonly --webroot -w {} -d {} --agree-tos -m {} '
        os.system(command.format(root, domain, email))


def restart_nginx_with_ssl():
    commands = [
        'sed -i "s/#-RECKEROPS-BOOTSTRAP-UNCOMMENT-#//g" /etc/nginx/nginx.conf',
        'nginx -s reload'
    ]
    os.system(' && '.join(commands))


def main():
    update_dns()
    download_certs()
    restart_nginx_with_ssl()


if __name__ == '__main__':
    main()
