{% set locale = salt['grains.filter_by']({
  'default': {
    'preferred': 'en_US.UTF-8'
  }
}, merge=salt['pillar.get']('locale:lookup'), base='default') %}

{% set ssh = salt['grains.filter_by']({
  'default': {
    'package': 'openssh-server',
    'service': 'sshd',
    'config': '/etc/ssh/sshd_config',
  },
  'Ubuntu': {
    'service': 'ssh'
  }
}, merge=salt['pillar.get']('ssh:lookup'), base='default', grain='os') %}

{% set docker = salt['grains.filter_by']({
  'default': {
    'repo_file': '/etc/apt/sources.list.d/docker.list',
    'repo_keyid': '58118E89F3A912897C070ADBF76221572C52609D',
    'repo_keyserver': 'hkp://p80.pool.sks-keyservers.net:80'
  },
  'jessie': {
    'repo_entry': 'deb https://apt.dockerproject.org/repo debian-jessie main',
  },
  'trusty': {
    'repo_entry': 'deb https://apt.dockerproject.org/repo ubuntu-trusty main',
  }
}, merge=salt['pillar.get']('ssh:lookup'), base='default', grain='oscodename') %}

{% set user = salt['grains.filter_by']({
  'default': {
    'username': 'alex',
    'fullname': 'Alex Recker',
    'groups': ['sudo', 'docker'],
    'shell': '/bin/bash',
    'ssh': [
	'ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQD/J98LsMpGwuNA/U3jpqOB0YcD8TNO5CSYZmFm7liDWT2Ndw6uOt3wEQx7LcYh1aDeI6XsHkqNSUoMbgVmFQ10KzEWTd/F+JIE/2aQ5uowJ5/DynobXEgAt/c7FqlnCWWK4u4MbAc5oFLn2sc/eeg1FbQP8EnYJ+8Qi0T/ny9gSLHun8oSAI2Ae74iKnPYyEqozZZf46LToR30W3C/6w0kN6k7H9M3IgrZxWuvRZTsQIvl8meo0YxItTR7HDiqSMav5ZXah6mT7OHhCTN0LIReOPsQu2j4Dc96cfWaIfoSTwQtsx/Teoc/BjhNfawj+YwjRk6li36QUw8xjtGauCLivqrDiB2omFrqY3X15JgMQQkSxiRO4TMFjJSKX52vh9YR5P62uuYyZMqzBvn7QfWG4qQWkPkivX3f3TpIGwmF68Adyaz1+bkFnFRcgytGM960w7RVUp2s98ndoqeRK2av6UJvutqXvPyCbKJvHKUIjQ3UivwwienSTuTXDUYT3hjruz1umwMAcRqqadHaNOBViPT7dvg5t+ruCeJedjtdhXRvsiKiFucq8fxzev46jMD/zCq4hlQUV5Uk8cYYT8dius3TojUddgaEV3by29B5h4/6sVjC/MVCIHu4r+qup2a4X9PL+lrVDQyjD0tdHfBI86FBwUV/EuiFxzrvaCGJQw== alex@lappy-486',
	'ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDbtSqOouv5nPM3Zk+NGmlla1wuSP/OtXHDTl2svxT/BJMZburyTQwdloQL07Koe3+786Saf7pWIrjl4zVtg+rIsnxYaDsGxh2FyGvYu5qHBiQorD8hho+8VysNk21KrQXlVc22cgKiOPIjUjRg6LsWxC/1LKoo1xlrt+SOcJ11CaRHXx7dpJYvjact/XxEonwVtwww3K+9Ao9ZrOHPWHwMkQ5DMTXCm7KO/UiVMS83pTpRkYGJZ6h71dNMOSEXwSJ3LUPRa1/BjZLysl1kaSni8F6zaAO39rSYDwoYK5TTf4RVyU0W+iOr2Waa7H9EsEs4G8Ep3BdQbUJLb8T96dhgKXyRVjL9lfym9BKAubARNU4gi9V73tSvj+ZU1mMRtJHMPfS+3+SYlDN2Pnfa6G2Au/eki3BVfZquZGswgtSPxorqXw1Sf4FOe6cSctNlQKH4OLywsOAzB/RLLlYWxAibNsaRpCHT8wyeq16VPoprpZJILDHNBOmjccY/fF0B1iYrpHczYnkdk827IKBw+Axxx3v5cUyDLo7HqsvtOZEeQBtlIkxShJJlIFEWziFhhefDq5Gzv7u2mXcvGUThWHrI7gVC84i1mgVYmyEcYUaXyaCXI9Ask3+efI2sEbPO5VCkg/2Km1gF12rC5rlOtSJMI4eCLFXKodkbAToFKHLjbw== alex@funkytown'
    ]
  },
}, merge=salt['pillar.get']('user:lookup'), base='default', grain='oscodename') %}