{% set user = salt['grains.filter_by']({
  'default': {
    'shell': '/bin/bash',
    'groups': ['sudo', 'docker'],
  },
  'jessie': {
    'username': 'admin',
  },
  'trusty': {
    'username': 'ubuntu',
  },
  'CentOS Linux 7 (Core)': {
    'username': 'centos',
    'groups': ['wheel', 'docker']
  }
}, merge=salt['pillar.get']('user:lookup'), base='default', grain='oscodename') %}