language: ruby

env:
  global:
    - machine_user=travis
    - machine_pass=travis
    - machine_port=22
    - KITCHEN_LOCAL_YAML=.kitchen.travis.yml
  matrix:
  - SUITE=default

rvm:
  - 2.1.7

sudo: required
dist: trusty

before_install:
  - sudo $TRAVIS_BUILD_DIR/test/setup.sh

script:
  - bundle exec kitchen test ${SUITE}-ubuntu-1404

branches:
  only:
    - master

notifications:
  email: false
