<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>ReckerOps</title>
  </head>
  <body>
    <h1>Nothing here but this dog</h1>
    <p>He must be smiling because this web server is operating</p>
    <img src="dog.jpg" alt="webserver-status-dog" />
  </body>
</html>
