{% set nginx = salt['grains.filter_by']({
  'default': {
    'packages': ['nginx', 'nginx-extras'],
    'webroot': '/usr/share/nginx/'
  },
  'jessie': {
    'webroot': '/var/www/'
  },
}, merge=salt['pillar.get']('nginx:lookup'), base='default', grain='oscodename') %}
