{% set ssh = salt['grains.filter_by']({
  'default': {
    'package': 'openssh-server',
    'service': 'sshd',
    'config': '/etc/ssh/sshd_config',
    'port': 22
  },
  'jessie': {
    'root_login': 'yes',
  },
  'trusty': {
    'service': 'ssh',
    'root_login': 'no',
  }
}, merge=salt['pillar.get']('ssh:lookup'), base='default', grain='oscodename') %}
