{% set ssh = salt['grains.filter_by']({
  'default': {
    'package': 'openssh-server',
    'service': 'sshd',
    'config': '/etc/ssh/sshd_config',
    'port': 22
  },
  'Ubuntu': {
    'service': 'ssh'
  }
}, merge=salt['pillar.get']('ssh:lookup'), base='default', grain='os') %}
