#!/bin/bash

DROPLET_ID=$(curl -s http://169.254.169.254/metadata/v1/id)

curl -X POST \
     -H 'Content-Type: application/json' \
     -H "Authorization: Bearer $DIGITAL_OCEAN_TOKEN" \
     -d "{ \"type\": \"assign\", \"droplet_id\": \"${DROPLET_ID}\" }" \
     https://api.digitalocean.com/v2/floating_ips/{{ ip }}/actions

{% for host, info in hosts.iteritems() %}
certbot certonly --webroot \
	--agree-tos -m {{ email }} \
	-w {{ webroot }}/{{ info['hostname'] }} \
	-d {{ info['hostname'] }} \
	--non-interactive
{% endfor %}

sed -i 's/#-RECKEROPS-BOOTSTRAP-UNCOMMENT-#//g' /etc/nginx/nginx.conf

nginx -s reload
