{% set python = salt['grains.filter_by']({
  'default': {
    'pip_packages': [
      'awscli',
      'boto3',
      'cloudflare',
      'docker-compose',
      'requests',
      'requests[security]'
    ],
    'packages_install': [
      'libssl-dev',
      'python',
      'python-dev',
      'python-setuptools',
    ],
    'packages_remove': [
      'python-pip',
      'python-pip-whl'
    ]
  }
}, merge=salt['pillar.get']('python:lookup'), base='default', grain='oscodename') %}
